.card
{
background-color:#66ff8c;
color:#000000;
display: inline-block;
height: 200px;
width: 100px;
border: 2px solid black;
border-radius: 5px;

}

.openCard
{
  background-color: #FFF;
}

.figure1
{
background-image: url("/home/kacper/Pulpit/Gierka/img/SmallSpitter.gif") -150px - 50px;
}

.figure2
{
background-color:#1a1aff;
}

.figure3
{
background-color:#339966;
}

.figure4
{
background-color:#ff9900;
}

.figure5
{
background-color:#663300;
}

.figure6
{
background-color:#003300
}
